{% extends "layouts/app.html.twig" %}

{% block title %}Home{% endblock %}

{% block sidebar %}
    <div class="profile-container">
        <img class="profile" src="img/profile.png" width="100" height="100" alt="Rob Meijer">
        <h1 class="name">Rob Meijer</h1>
        <h3 class="tagline">Software Developer</h3>
    </div><!--//profile-container-->
    <div class="contact-container container-block">
        <ul class="list-unstyled contact-list">
            <li class="email"><i class="fa fa-envelope"></i><a href="mailto: email@robmeijer.co.uk">email@robmeijer.co.uk</a></li>
            <li class="github"><i class="fa fa-github"></i><a href="#" target="_blank">github.com/robmeijer</a></li>
            <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/robmeijeruk" target="_blank">@robmeijeruk</a></li>
        </ul>
    </div><!--//contact-container-->

    <div class="languages-container container-block">
        <h2 class="container-block-title">Languages</h2>
        <ul class="list-unstyled interests-list">
            <li>English <span class="lang-desc">(Native)</span></li>
            <li>Afrikaans <span class="lang-desc">(Native)</span></li>
            <li>Dutch <span class="lang-desc">(Conversational)</span></li>
        </ul>
    </div><!--//interests-->

    <div class="interests-container container-block">
        <h2 class="container-block-title">Interests</h2>
        <ul class="list-unstyled interests-list">
            <li>Cyclist and mountain biker</li>
            <li>Avid film and TV enthusiast</li>
            <li>Follow cutting edge technology trends</li>
            <li>Keen interest in PC gaming</li>
        </ul>
    </div><!--//interests-->
{% endblock %}

{% block main %}
<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>Personal Profile</h2>
    <div class="summary">
        <p>I am an experienced Software Developer with excellent problem solving abilities as a result of my analytical
            and inquisitive nature, and many years of experience in the IT industry. I have a natural affinity for
            technology, and a keen interest in everything related to computers. I pride myself on my attention to
            detail, and the care I take in everything I produce. As an articulate and diplomatic communicator with a
            warm and friendly demeanour, I am comfortable interacting with clients, as well as mentoring and encouraging
            fellow developers.</p>
    </div><!--//summary-->
</section><!--//section-->

<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Employment History</h2>

    {% for position in positions %}
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">{{ position.title }}</h3>
                <div class="time">{{ position.period }}</div>
            </div><!--//upper-row-->
            <div class="company">{{ position.company|upper }}</div>
        </div><!--//meta-->
        <div class="details">
            {% if position.details is iterable %}
                <ul>
                {% for detail in position.details %}
                    <li>{{ detail|e }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>{{ position.details|e }}</p>
            {% endif %}
        </div><!--//details-->
        {% if position.achievements is not empty %}
            <div class="details">
                {% if position.achievements is iterable %}
                    <hr>
                    <ul>
                        {% for achievement in position.achievements %}
                            <li>{{ achievement|e }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{{ position.achievements|e }}</p>
                {% endif %}
            </div><!--//details-->
        {% endif %}
        {% if position.skills is not empty %}
            <div class="details">
                <em>Key Skills</em>
                    <p><em>{{ position.skills|e }}</em></p>
            </div><!--//details-->
        {% endif %}
    </div><!--//item-->
    {% endfor %}

</section><!--//section-->

<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Technical Skills</h2>

    {% for skill in skills %}
    <div class="item">
        <span class="project-title"><a href="#hook">{{ skill.type|upper }}</a></span><br>
        <span class="project-tagline">{{ skill.keywords }}</span>
    </div><!--//item-->
    {% endfor %}

</section><!--//section-->
{% endblock %}
